* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #333;
    background: #fff;
    min-height: 100%;
}

ul,
li {
    list-style: none;
}

input {
    outline: none;
    border: 0 none;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

#header {
    height: 100px;
    background: #fff;
    .logou {
        height: 100px;
        a {
            display: inline-block;
            float: left;
            margin-top: 10px;
            width: 330px;
            height: 71px;
            cursor: pointer;
            z-index: 9;
            background-repeat: no-repeat;
            background-position: left center;
            background-image: url(../img/logou.png);
        }
    }
}

.login-icon {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/icon.png) no-repeat;
    background-position: -760px -401px;
}

#login {
    height: 600px;
    background: #F8F8F8;
    .login-m {
        height: 100%;
        position: relative;
        .login-pic {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        #login-c {
            width: 350px;
            min-height: 330px;
            background: #fff;
            position: absolute;
            top: 50%;
            right: 0;
            border: 1px solid #ccc;
            transform: translateY(-50%);
            .top {
                position: relative;
                width: 348px;
                height: 52px;
                border-bottom: 1px solid #ddd;
                background-color: #f8f8f8;
                font-size: 16px;
                line-height: 52px;
                color: #333;
                .active{
                    color: #FF1E32;
                }
                .name {
                    float: left;
                    width: 174px;
                    text-align: center;
                    cursor: pointer;
                    font-weight: bold;
                }
                .line {
                    position: absolute;
                    top: 17px;
                    left: 175px;
                    width: 0px;
                    height: 20px;
                    border-right: solid 1px #ddd;
                }
            }
            .p-login {
//              display: none;
                width: 350px;
                padding: 20px 40px 15px;
                background: #FFF;
                .login-form {
                    .form-main {
                        width: 270px;
                        .f-cb {
                            display: block;
                            width: 270px;
                            height: 22px;
                            padding: 0 0 10px 10px;
                            .us-tab {
                                display: block;
                                padding-left: 20px;
                                background-position: 0 0;
                                font-size: 12px;
                                color: rgb(102, 102, 102);
                                text-decoration: none;
                                float: right;
                                &:hover {
                                    color: #FF1E32;
                                    background-position: 0 -95px;
                                }
                            }
                        }
                        .p-number {
                            border: 1px solid #ccc;
                            width: 270px;
                            height: 39px;
                            padding: 3px 0;
                            border-radius: 2px;
                            margin-bottom: 15px;
                            .phone-log {
                                display: inline-block;
                                width: 15px;
                                height: 20px;
                                margin: -7px 6px;
                                background-position: -33px -33px;
                            }
                            .phonenum {
                                font-size: 14px;
                                line-height: 31px;
                                width: 236px;
                                height: 31px;
                            }
                        }
                        .p-check {
                            border: 1px solid #ccc;
                            width: 270px;
                            height: 34px;
                            border-radius: 2px;
                            margin-bottom: 22px;
                            .checknumber {
                                font-size: 14px;
                                line-height: 31px;
                                padding-left: 10px;
                                width: 167px;
                                height: 30px;
                            }
                            .getcheck {
                                font-size: 14px;
                                width: 96px;
                                height: 32px;
                                text-align: center;
                                line-height: 32px;
                                display: inline-block;
                                background: #eee;
                                color: #333;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            .e-login {
                display: none;
                width: 350px;
                padding: 20px 40px 15px;
                background: #FFF;
                .login-form {
                    .form-main {
                        width: 270px;
                        
                        .e-number {
                            border: 1px solid #ccc;
                            width: 270px;
                            height: 39px;
                            padding: 3px 0;
                            border-radius: 2px;
                            margin-bottom: 15px;
                            .e-log {
                                display: inline-block;
                                width: 17px;
                                height: 20px;
                                margin: -7px 6px;
                                background-position: 0 -34px;
                            }
                            .email {
                                font-size: 14px;
                                line-height: 31px;
                                width: 230px;
                                height: 31px;
                            }
                        }
                        .e-psw {
                            border: 1px solid #ccc;
                            width: 270px;
                            height: 39px;
                            padding: 3px 0;
                            border-radius: 2px;
                            margin-bottom: 15px;
                            .p-log {
                                display: inline-block;
                                width: 17px;
                                height: 20px;
                                margin: -7px 6px;
                                background-position: -68px -34px;
                            }
                            .e-password {
                                font-size: 14px;
                                line-height: 31px;
                                width: 230px;
                                height: 31px;
                            }
                        }
                        
                    }
                }
            }
            .login {
                width: 270px;
                height: 36px;
                margin-bottom: 10px;
                input {
                    width: 270px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    color: #fff;
                    border-radius: 2px;
                    &:hover {
                        cursor: pointer;
                    }
                    background: #FF1E32;
                }
            }
            .oTing {
                width: 270px;
                height: 21px;
                margin-bottom: 10px;
                a {
                    float: right;
                    font-size: 12px;
                    text-decoration: none;
                    color: #999;
                }
                .setcook {
                    float: left;
                    #scheckbox {
                        width: 14px;
                        height: 14px;
                    }
                    label {
                        font-size: 12px;
                        color: #999;
                        &:hover {
                            color: #FF1E32;
                        }
                    }
                }
            }
            .u-icon {
                background: url(../img/login-log.png) no-repeat;
            }
            .proto {
                font-size: 12px;
                color: #999;
            }
            .bottom {
                width: 348px;
                height: 40px;
                padding: 10px 40px;
                border-top: 1px solid #ddd;
                background-color: #f8f8f8;
                font-size: 14px;
                .thirdlogin {
                    float: left;
                    width: 160px;
                    li {
                        float: left;
                        width: 22px;
                        height: 22px;
                        margin-right: 10px;
                        .l-a2 {
                            background-position: -792px -401px;
                        }
                        .l-a3 {
                            background-position: -824px -401px;
                        }
                        .l-a4 {
                            background-position: -856px -401px;
                        }
                    }
                }
                .gotoreg {
                    display: inline-block;
                    float: right;
                    width: 105px;
                    color: #e31436;
                    height: 22px;
                    line-height: 22px;
                    cursor: pointer;
                    position: relative;
                    .arrow {
                        position: absolute;
                        top: 0;
                        right: -8px;
                        width: 22px;
                        height: 22px;
                        background-position: -899px -402px;
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 14px;
    color: #666;
    background: #fff;
    .footer {
        position: relative;
        padding: 20px 0;
        line-height: 26px;
        text-align: center;
        color: #666;
        .m-license {
            margin-left: 20px;
            font-size: 12px;
        }
        .sp {
            margin: 0 20px;
        }
        .guohui {
            &:hover {
                text-decoration: none;
            }
        }
        .other {
            text-align: center;
            margin: 5px 0 0 0;
            a {
                display: inline-block;
                margin-right: 20px;
                height: 30px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        a {
            color: #666;
            font-size: 14px;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}