
.catitmlst {
    display: none;
}
#main {
    #cartbox {
        .mycart {
            font-size: 14px;
            color: #333;
            line-height: 32px;
            margin-top: 15px;
            .addr {
                position: relative;
                top: -3px;
                white-space: nowrap;
                font-size: 12px;
                margin-left: 10px;
                float: right;
                .addrlabel {
                    margin-right: 5px;
                }
                .m-addrw {
                    display: inline-block;
                    .m-addr {
                        position: relative;
                        height: 20px;
                        line-height: 20px;
                        .iptw {
                            position: relative;
                            display: inline-block;
                            height: 18px;
                            line-height: 18px;
                            width: auto;
                            padding: 0 5px;
                            vertical-align: middle;
                            text-align: left;
                            border: 1px solid #ccc;
                            cursor: pointer;
                            font-size: 12px;
                            .iptmsg {
                                display: inline-block;
                                height: 18px;
                                line-height: 18px;
                                vertical-align: top;
                            }
                            .iptdown {
                                display: inline-block;
                                position: relative;
                                top: 5px;
                                left: 0px;
                                width: 0;
                                border: 7px solid;
                                border-color: #666 transparent transparent transparent;
                            }
                        }
                        .addrbox {
                            z-index: 99999;
                            position: absolute;
                            border: 1px solid #ddd;
                            background: #fff;
                            min-width: 441px;
                            max-width: 461px;
                            max-height: 261px;
                            min-height: 141px;
                            top: 18px;
                            right: 0;
                            display: none;
                            .addrclose {
                                display: inline-block;
                                position: absolute;
                                right: 15px;
                                top: 10px;
                                width: 18px;
                                height: 18px;
                                text-align: center;
                                color: hsla(0, 0%, 60%, .7);
                                *color: #999;
                                cursor: pointer;
                                font-size: 12px;
                            }
                            .tt {
                                background: #fff;
                                height: 30px;
                                width: 420px;
                                margin: 10px 0 0 10px;
                                border-bottom: 1px solid #ddd;
                                .tli {
                                    position: relative;
                                    float: left;
                                    top: 2px;
                                    min-width: 58px;
                                    line-height: 28px;
                                    height: 28px;
                                    padding: 0 5px;
                                    margin-right: -1px;
                                    text-align: center;
                                    border: 1px solid #ddd;
                                    cursor: pointer;
                                    background: #fff;
                                }
                                .addractive {
                                    border-top: 1px solid #d21c44;
                                    border-bottom: 1px solid #fff;
                                }
                            }
                            .abox{
                               background: #fff;
                            }
                            #sfbox {
                                
                                width: 459px;
                                height: 210px;
                                display: none;
                                padding-left: 21px;
                                margin-bottom: 10px;
                            }
                            #citybox {
                                width: 459px;
                                padding-left: 21px;
                                margin-bottom: 10px;
                                height: 180px;
                                display: none;
                            }
                            #xianqubox {
                                width: 450px;
                                padding-left: 21px;
                                margin-bottom: 10px;
                                height: 90px;
                            }
                        }
                    }
                }
            }
        }
        .cartmain {
            .u-ck {
                -webkit-appearance: none;
                cursor: pointer;
                width: 17px;
                height: 21px;
                margin: 0 10px 0 12px;
                background: url(../img/cartselect.png) no-repeat 0 -48px;
            }
            .u-ck2{
                background-position: 0 0;
            }
            .carthead {
                color: #999;
                border: 1px solid #eaeaea;
                height: 36px;
                line-height: 36px;
                .col {
                    font-size: 12px;
                    float: left;
                    padding: 0 10px;
                }
                .col1 {
                    width: 134px;
                    color: #000;
                    font-size: 12px;
                    .sAll {
                        cursor: pointer;
                    }
                }
                .col2 {
                    width: 422px;
                }
                .col3 {
                    width: 150px;
                }
                .col4 {
                    width: 147px;
                }
                .col5 {
                    width: 128px;
                }
                .col6 {
                    width: 107px;
                    padding: 0 7px;
                    text-align: left;
                }
            }
            .m-cart {
                position: relative;
                margin-top: 15px;
                color: #333;
                .ware {
                    font-size: 12px;
                    .u-cartlabel {
                        padding: 0 4px;
                        border-radius: 2px;
                        color: #fff;
                        font-size: 12px;
                        background-color: #333;
                        display: inline-block;
                        height: 18px;
                        line-height: 18px;
                    }
                    .warename {
                        font-weight: 700;
                        font-size: 14px;
                        color: #333
                    }
                }
                .goods {
                    border: 1px solid #eaeaea;
                    .my-goods {
                        .goodsitem {
                            border-bottom: 1px solid #eaeaea;
                            padding: 20px 0;
                            .g-col {
                                vertical-align: top;
                                float: none;
                                display: table-cell;
                            }
                            .g-col1 {
                                width: 47px;
                                padding-left: 10px;
                                position: relative;
                                vertical-align: middle;
                            }
                            .g-col2 {
                                width: 510px;
                                .imgwrap {
                                    float: left;
                                    display: inline-block;
                                    width: 80px;
                                    height: 80px;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .txtwrap {
                                    width: 250px;
                                    padding-right: 30px;
                                    margin-left: 15px;
                                    float: left;
                                    h3 {
                                        font-weight: normal;
                                        height: 36px;
                                        overflow: hidden;
                                        line-height: 18px;
                                        a {
                                            display: block;
                                            font-size: 12px;
                                            color: #333;
                                            &:hover {
                                                color: #FF1E32;
                                            }
                                        }
                                    }
                                    .returninfo {
                                        color: #999;
                                        height: 20px;
                                        padding-top: 2px;
                                        margin-bottom: 2px;
                                        img {
                                            width: 12px;
                                        }
                                        span {
                                            font-size: 12px;
                                            color: #666;
                                            margin-top: 0;
                                        }
                                    }
                                }
                            }
                            .g-col3 {
                                width: 108px;
                                padding: 0 10px;
                                font-size: 12px;
                                padding-top: 0;
                                .oldprice {
                                    display: block;
                                    text-align: left;
                                    color: #999;
                                }
                                .newprice {
                                    font-size: 14px;
                                    color: #333333;
                                    font-weight: 700;
                                }
                            }
                            .g-col4 {
                                width: 123px;
                                padding: 0 10px;
                                text-align: center;
                                .ipt {
                                    float: left;
                                    width: 43px;
                                    height: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                    border: 1px solid #bcbcbc;
                                    border-width: 1px 0;
                                }
                                .algorithm {
                                    display: inline-block;
                                    float: left;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                    cursor: pointer;
                                    text-decoration: none;
                                    border: 1px solid #bcbcbc;
                                    color: #333;
                                    font-family: iconfont;
                                }
                            }
                            .g-col5 {
                                width: 192px;
                                padding: 0 10px;
                                text-align: center;
                                position: relative;
                                .sum {
                                    font-weight: 700;
                                    font-size: 14px;
                                    display: block
                                }
                                .taxrow {
                                    height: 20px;
                                    line-height: 18px;
                                    white-space: nowrap;
                                    text-align: center;
                                    .ask {
                                        display: inline-block;
                                        width: 12px;
                                        height: 12px;
                                        line-height: 10px;
                                        cursor: pointer;
                                        color: #999;
                                        font-size: 12px;
                                        border: 1px solid #999;
                                        border-radius: 50%;
                                        font-style: normal;
                                    }
                                    .u-taxval {
                                        text-align: left;
                                        padding: 0 3px;
                                        height: 17px;
                                        line-height: 17px;
                                        font-size: 12px;
                                        color: #ccc;
                                    }
                                }
                                .ans {
                                    display: none;
                                    position: absolute;
                                    top: 50px;
                                    left: -125px;
                                    background: #fff;
                                    padding: 10px 15px;
                                    width: 300px;
                                    height: 60px;
                                    text-align: left;
                                    font-size: 12px;
                                    border: 1px solid #999;
                                    .b-shanjiao {
                                        position: absolute;
                                        top: -24px;
                                        left: 155px;
                                        border: 12px solid;
                                        border-color: transparent transparent #999 transparent;
                                    }
                                    .s-shanjiao {
                                        position: absolute;
                                        top: -20px;
                                        left: 156px;
                                        border: 10px solid;
                                        border-color: transparent transparent #fff transparent;
                                    }
                                    a {
                                        display: block;
                                        font-size: 12px;
                                        color: #FF1E32;
                                        margin-bottom: 5px;
                                        &:hover {
                                            color: #51B8F1;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            .g-col6 {
                                width: 107px;
                                .u-opt {
                                    font-size: 12px;
                                    display: block;
                                    color: #333;
                                    cursor: pointer;
                                    line-height: 25px;
                                    height: 25px;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    .cartinfo {
                        font-size: 12px;
                        padding: 10px 43px 10px 20px;
                        text-align: right;
                        white-space: nowrap;
                        em {
                            font-style: normal;
                        }
                        .discount {
                            display: inline-block;
                            margin-right: 20px;
                        }
                        .allsum {
                            display: inline-block;
                            margin-right: 20px;
                        }
                        .taxbox {
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                }
            }
            .totalbox {
                width: 1090px;
                margin-top: 35px;
                min-height: 62px;
                position: relative;
                .t-box {
                    width: 1090px;
                    border: 1px solid #eaeaea;
                    .ttbar {
                        font-size: 12px;
                        height: 60px;
                        line-height: 40px;
                        padding: 10px;
                        position: relative;
                        background-color: #f8f8f8;
                        .lt {
                            float: left;
                            .opt {
                                font-style: normal;
                                margin-left: 20px;
                                cursor: pointer;
                            }
                        }
                        .rt {
                            float: right;
                            padding-right: 140px;
                            line-height: 20px;
                            text-align: right;
                            .item {
                                margin-left: 20px;
                            }
                            .allgoods {
                                .num {
                                    font-style: normal;
                                    color: #e31436;
                                    font-weight: 700;
                                    font-size: 18px;
                                }
                            }
                            .allmoney {
                                color: #999999;
                            }
                            .gobuy {
                                position: absolute;
                                right: -1px;
                                top: -1px;
                                bottom: 0;
                                width: 120px;
                                line-height: 60px;
                                text-align: center;
                                background-color: #e31436;
                                color: #fff;
                                font-size: 18px;
                                cursor: pointer;
                            }
                            .z-disable {
                                background-color: #ccc;
                                color: #fff;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }
    }
    .tuijian {
        margin-bottom: 15px;
        height: 364px;
        width: 100%;
        .t-j-h {
            font-weight: bold;
            height: 58px;
            line-height: 58px;
            color: #333;
            font-size: 18px;
            b {
                padding-left: 12px;
                font-size: 14px;
                color: #999;
            }
        }
        .m-reclst {
            .newRecomItemWrap {
                background: #fff;
                width: 206px;
                height: 304px;
                float: left;
                border: 1px solid #EAEAEA;
                margin: 0 0 15px 12px;
                a {
                    display: block;
                }
                .t-p {
                    img {
                        width: 204px;
                        height: 204px;
                    }
                }
                .itemTitle {
                    margin-bottom: 9px;
                    padding: 0 15px;
                    height: 40px;
                    overflow: hidden;
                    a {
                        line-height: 20px;
                        font-size: 12px;
                        color: #333;
                        font-weight: normal;
                        word-break: break-all;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .itemInfo {
                    padding: 0 15px;
                    .price {
                        line-height: 14px;
                        color: #e31436;
                        font-size: 16px;
                        font-weight: bold;
                        .marprice {
                            padding-left: 5px;
                            color: #999;
                            font-size: 12px;
                            font-weight: normal;
                        }
                    }
                    .comment {
                        display: block;
                        height: 24px;
                        line-height: 20px;
                        color: #999;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    #recent {
        margin-bottom: 100px;
    }
}

#r-aside {
    display: none;
    position: fixed;
    top: 130px;
    ul {
        width: 33px;
        .toTop {
            width: 33px;
            a {
                .r-a-up {
                    margin: 0 2px;
                }
                padding: 0 5px;
                width: 33px;
                height: 102px;
            }
        }
    }
}